* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
  background: #1f1f1f;
}

.dark-mode-container {
  margin: 10px;
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: right;
}

.dark-mode {
  background: whitesmoke;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}

.inner-container {
    text-align: center;
    background: #28282a;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px 30px 30px;
}

input, button {
    margin: 10px;
    border: none;
    color: whitesmoke;
}

input {
    border-radius: 25px;
    padding: 20px;
    background: #3b414a;
    font-size: 15px;
}

input:focus {
  outline: 1px solid lightcyan;
}

input::placeholder {
  color: whitesmoke;
}

.black-placeholder::placeholder {
  color: black;
}

button {
    border-radius: 40px;
    padding: 15px 20px;
    width: 8rem;
    background: whitesmoke;
    color: black;
}

button:active {
    background: #B8B9BE;
}

.lyrics-container {
    padding: 10px;
    margin: 30px;
    background: aliceblue;
    border-radius: 10px;
}

.lyrics-text {
    padding: 20px 0 0 0;
}

.copy {
  padding: 15px;
}

summary {
  display: flex;
  align-content: space-between;
  align-items: center;
}

summary li {
  float: right;
}

summary p {
  margin-left: 10px;
  width: 100%;
}

.notify {
    margin: 5%;
    position: fixed;
    bottom: -100%;
    background: red;
    padding: 5%;
    width: 80%;
    border-radius: 10px;
    display: flex;
}

.notify li {
    margin: 0px 5px 0px 0px;
    color: white;
}

.notify p {
  color: white;
}
